<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Todo Web App</display-name>

    <!-- Main REST Servlet for /todos endpoints -->
    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>com.example.TodoServlet</servlet-class>
        <!-- Load-on-startup is optional -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/todos/*</url-pattern>
    </servlet-mapping>

    <!-- Default welcome file (UI) -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>