receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
    send_timestamps: true
    const_labels:
      via: otel-collector
  debug:
    verbosity: detailed
  otlp:
    endpoint: "http://jaeger:4317"
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,otlp]
    
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,otlp,prometheus]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]